body {
    background-color: #f2f2f2;
}

.topbar {
  width: 100%;
  height: 50px;
  background-color: #b84e27;
  position: fixed;
  z-index: 9;
  color: #fff;
}

.brand-text {
  font-size: 1.5em;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
}

.wrapper {
  padding-top: 50px;
  width: 100%;
}

.headerwrap {
  margin: 0;
  width: 100%;
  height: 70px;
  padding: 15px 20px;
  background-color: #fff;
}

.headerwrap h1 {
  margin: 0;
  padding: 0;
}

.sidenav {
  width: 110px; /* width */
  height: 100%;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  background-color: #b65903;
  position: fixed;
  float: left;
}

.sidenav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidenav ul li {

}

.sidenav ul li a {
  color: #e7b172;
  padding: 15px;
  display: block;
  text-decoration: none;
}

.sidenav ul li a:hover {
  background-color: #7a2b04;
  color: #fff;
}


.contentwrap {
  margin-left: 110px; /* widt */
  height: 100%;
}

.maincontent {
  padding: 20px;
}

.panel-img {
  height: 100px;
}

.panel-img img {
  display: block;
  width: 100%;
}

.panel-title {
  display: block;
  font-weight: 600;
  color : rgb(77, 19, 142);
}

.panel-price {
  display: block;
  font-weight: 600;
  font-size: 0.9em;
  color : rgb(186, 93, 18);
}
