body {
    background-color: #f2f2f2;
    background-image: url('../../bg1.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.topbar {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 9;
  color: rgba(255, 242, 231, 1);
  text-shadow: 1px 2px rgb(171, 67, 1);
  font-weight: 600;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  border-bottom: 4px solid rgb(222, 88, 13);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5d00+0,ff670f+100 */
background: #ff5d00; /* Old browsers */
background: -moz-linear-gradient(top, #ff5d00 0%, #ff670f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff5d00 0%,#ff670f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff5d00 0%,#ff670f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5d00', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */
}

.brand-text {
  font-size: 1.5em;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
}

.wrapper {
  padding-top: 50px;
  width: 100%;
}

.headerwrap {
  margin: 0;
  width: 100%;
  height: 70px;
  padding: 20px;
  font-weight: 600 !important;
  font-size: 1.6em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 2px rgba(0,0,0,0.4);
  opacity: 0.9;
  background: rgba(255,255,255,0.3);
}

.headerwrap h1 {
  margin: 0;
  padding: 0;
}

.sidenav {
  width: 140px; /* width */
  height: 100%;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  position: fixed;
  float: left;

  background: #ff5d00; /* Old browsers */
  background: -moz-linear-gradient(top, #ff5d00 0%, #ff670f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff5d00 0%,#ff670f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff5d00 0%,#ff670f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5d00', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */
}

.sidenav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidenav ul li {

}

.sidenav ul li a {
  color: #fff4e8;
  padding: 15px;
  display: block;
  text-decoration: none;
  font-weight: 600;
}

.sidenav ul li a:hover {
  background-color: #7a2b04;
  color: #fff;
}


.contentwrap {
  margin-left: 140px; /* width */
  height: 100%;
}

.maincontent {
  padding: 20px;
}

.panel-produk {
  border-radius: 3px;
  display: block;
  transition: all ease 0.2s;
}

.panel-produk:hover {
  cursor: pointer;
  text-decoration: none !important;
  box-shadow: 1px 1px 20px rgba(0,0,0,0.3) !important;
  transition: all ease 0.3s;
}

.panel-img {
  height: 110px;
}

.panel-img img {
  display: block;
  width: 100%;
}

.panel-title {
  display: block;
  font-size: 1em;
  color : rgb(77, 19, 142);
}

.panel-price {
  display: block;
  font-size: 0.9em;
  color : rgb(186, 93, 18);
}

.text-grey {
  color : #ababab;
}

.my-panel {
  border: 0 !important;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
  border-radius: 5px;
}

.my-panel .panel-heading {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#299a0b+0,77b50e+100 */
  background: #299a0b; /* Old browsers */
  background: -moz-linear-gradient(top, #299a0b 0%, #77b50e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #299a0b 0%,#77b50e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #299a0b 0%,#77b50e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#77b50e',GradientType=0 ); /* IE6-9 */

  color: #e9ffd0;
  font-weight: 600;
  font-size: 1.25em;
  border-bottom: 3px solid #3b8e08 !important;
  text-shadow: 2px 1px 3px #176600;
}

.btn-primary {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff670f+0,fc2e0f+100;Orange+Flat+%231 */
  background: #ff670f; /* Old browsers */
  background: -moz-linear-gradient(top, #ff670f 0%, #fc2e0f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff670f 0%,#fc2e0f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff670f 0%,#fc2e0f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#fc2e0f',GradientType=0 ); /* IE6-9 */

  border: 1px solid #fe5b27;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  border: 1px solid #fe5b27;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff823a+1,f93920+100 */
background: #ff823a; /* Old browsers */
background: -moz-linear-gradient(top, #ff823a 1%, #f93920 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff823a 1%,#f93920 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff823a 1%,#f93920 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff823a', endColorstr='#f93920',GradientType=0 ); /* IE6-9 */
}

.snackbar {
  min-width: 300px;
  min-height: 70px;
  display: block;
  background-color: rgba(133, 255, 163, 0.5);
  border-radius: 8px;
  border: 2px solid rgba(13, 102, 33, 0.2);
  position: fixed;
  bottom: -90px;
  right: 20px;
  padding: 15px;
  color: #fff;
  transition: all ease 0.4s;
  font-weight: 600;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#299a0b+0,77b50e+100 */
  background: #299a0b; /* Old browsers */
  background: -moz-linear-gradient(top, #299a0b 0%, #77b50e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #299a0b 0%,#77b50e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #299a0b 0%,#77b50e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#77b50e',GradientType=0 ); /* IE6-9 */

}

.snackshow {
  transition: all ease 0.4s;
  bottom: 20px !important;
  right: 20px !important;
}
